<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body><form method="post" action="/login">
    
            <input type="email" name="email" value="email" placeholder="enter your email"/>
            <input type="password" name="password" value="password" placeholder="enter your password"/>
            <p><%=locals.message%></p>
            <button type="submit"> Login</button>
</form>
    
    
</body>
</html>