<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body><form method="post" action="/reg">
    <input type="text" name="name" value="name" placeholder="enter your name"/>
            <input type="email" name="email" value="email" placeholder="enter your email"/>
            <input type="password" name="password" value="password" placeholder="enter your password"/>
            <button type="submit"> sign up</button>
</form>
    
    
</body>
</html>